/**

 * Reset defaults
 */
body {
  margin: 0;
}

nav ul {
  margin: 0;
}

.hero-banner h1 {
  margin: 0;
}

/**
 * Basic styles
 */
body {
  font-family: 'Helvetica', Arial, Sans-serif;
  color: #90172a;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background: #B1d4cd;
}

.hero-banner {
  height: 400px;
  background: url('../images/doughnuts.jpg') fixed;
  background-size: cover;
}

p {
  line-height: 1.5;
}


footer {
  background: #B1d4cd;
}

.doughnut {
  height: 300px;
  width: 300px;
  background: url('../images/footer-doughnut.png') no-repeat;
}

.add-sprinkles {
  background: purple;
  color: white;
}

.hero-banner {
  line-height: 400px;
}

.hero-banner h1 {
  vertical-align: middle;
  text-align: center;
  font-size: 72px;
}

nav > *,
nav img {
  display: inline-block;
  vertical-align: middle;
}

nav li {
  display: inline-block;
}

header {
  height: 100px;
  line-height: 100px;
}

nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: #90172a;
  margin-right: 20px;
}

.main {
  padding-top: 40px;
  padding-bottom: 40px;
}

.main .container {
  display: flex;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.variety figcaption {
  text-align: center;
  font-weight: bold;
}

footer .animation {
  text-align: center;
}

.add-sprinkles {
  outline: none;
  display: block;
  border: none;
  width: 170px;
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;
  line-height: 50px;
  font-size: 18px;
  background: #cf6480;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.add-sprinkles:hover {
  background: #90172a;
}

.add-sprinkles:active {
  box-shadow: inset 0 0 6px 3px #cf6480;
}

nav ul a:hover {
  border-bottom: 2px solid #fff;
}

.doughnut {
  position: relative;
}

.sprinkles {
  display: none;
  position: absolute;
  height: 350px;
  width: 350px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../images/sprinkles.png') no-repeat;
}

.show {
  display: inline-block;
}











/*stay*/
